<div class="main__preview">
  <table class="main__preview--table serif">
    <%# ========== 最上部の余白 ==============%>
    <tr class='lateral-roler'>
      <td class="vertical-roler"></td>
      <td class="left-wrap">折返し</td>
      <td class="left-margin"></td>
      <td class="front-cover">表表紙</td>
      <td class="right-margin"></td>
      <td class="back-cover"></td>
      <td class="behind-cover"></td>
      <td class="right-wrap">折返し</td>
    </tr>

    <%# ========== 上部 折返し ==============%>
    <tr class="top-wrap">
      <td class="vertical-roler">
        <div>折</div>
        <div>返</div>
        <div>し</div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <%# ========== 最上部の余白 ==============%>
    <tr class="top-margin">
      <td class="vertical-roler"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <%# ========== 表紙 タイトル ==============%>
    <tr class="title">
      <td class="vertical-roler"></td>
      <td></td>
      <td></td>
      <td class="title__block"><span id="front-title">るろうに剣心</span></td>
      <td></td>
      <td rowspan='2' valign="top" class="title__td">
        <div>る</div>
        <div>ろ</div>
        <div>う</div>
        <div>に</div>
        <div>剣</div>
        <div>心</div>
      </td>
      <td></td>
      <td></td>
    </tr>

    <%# ========== 表紙 中央 ==============%>
    <tr class="front-margin">
      <td class="vertical-roler"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <%# ========== 巻数 ==============%>
    <tr class="front-number">
      <td class="vertical-roler"></td>
      <td></td>
      <td></td>
      <td class="front-number__block"><span class="front-number__span">1</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <%# ========== 背表紙の巻数 ==============%>
    <tr class="back-number">
      <td class="vertical-roler"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="back-number__block"><span class="back-number__span">1</span></td>
      <td></td>
      <td></td>
    </tr>

    <%# ========== 表紙下部の余白 ==============%>
    <tr class="bottom-margin">
      <td class="vertical-roler"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <%# ========== 最下部の余白 ==============%>
    <tr class="bottom-wrap">
      <td class="vertical-roler">
        <div>折</div>
        <div>返</div>
        <div>し</div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>