<table>
  <tr class='lateral-roler'>
    <td class="vertical-roler"></td>
    <td class="left-wrap"></td>
    <td class="left-margin"></td>
    <td class="front-cover"></td>
    <td class="right-margin"></td>
    <td class="back-cover"></td>
    <td class="behind-cover"></td>
    <td class="right-wrap"></td>
  </tr>
  <tr class="top-wrap">
    <td class="vertical-roler"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="top-margin">
    <td class="vertical-roler"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="title">
    <td class="vertical-roler"></td>
    <td></td>
    <td></td>
    <td class="title__block"><span class="front-title">SLAM DUNK</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="front-margin">
    <td class="vertical-roler"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <%# <td valign="top"><span class="title__back">スラムダンク</span></td> %>
    <td valign="top" class="front-margin__td">
      <div>S</div>
      <div>L</div>
      <div>A</div>
      <div>M</div>
      <div></div>
      <div>D</div>
      <div>U</div>
      <div>N</div>
      <div>K</div>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr class="front-number">
    <td class="vertical-roler"></td>
    <td></td>
    <td></td>
    <td class="front-number__block"><span class="front-number__span">1</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="back-number">
    <td class="vertical-roler"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="back-number__block"><span class="back-number__span">1</span></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="bottom-margin">
    <td class="vertical-roler"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="bottom-wrap">
    <td class="vertical-roler"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>